* {
  font-family: "Open Sans";
  font-size: 12pt;
}
input[type="radio"],
input[type="checkbox"] {
  margin-left: 30px;
  margin-right: 12px;
}
.left30 {
  margin-left: 30px;
}

.logo {
  width: 6em;
  padding-left: 1em;
  padding-right: 1em;
}

.logo-font {
  font-size: 38pt;
  vertical-align: bottom;
  color: white;
  font-family: "Pacifico";
}

.navbar {
  background-color: #d32323;
  border-radius: 0px;
}

.navbar img {
  height: 80px;
}

.content {
  padding-top: 0.25em;
  text-align: center;
}

.preferences {
  text-align: center;
}

.profile-img {
  height: 170px;
  border-radius: 50%;
}

.footer_hr {
  border-top: 2px solid #eee;
}

.github-img {
  height: 30px;
}

.subscription-time-zone-input {
  max-width: 50ch;
}

.preference-header {
  margin-left: -8%;
  padding-bottom: 5px;

  > h3 {
    font-weight: bold;
  }

  > h6 {
    color: darkgreen;
  }
}

div:first-of-type > .preference-header:first-of-type {
  padding-top: 25px;
}

.preference-options {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  width: 792px;
  flex-direction: row;
  padding-bottom: 40px;
}

.preference-options > fieldset {
  border: 3px solid lightgrey;
  border-radius: 12px;
  padding: 10px;
  flex: 1;
  display: grid;
  gap: 8px;
  justify-content: center;
  height: 145px;
  align-content: center;
}

.preference-options > fieldset > legend {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  margin-bottom: 0;
}

.preference-options > fieldset > label {
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  max-height: 28px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}
