*.pyc
*.swp
*~
.DS_Store
.cache/
.coverage
.idea/
.node-version
.tox
/coverage
/lib/
client_secrets.json
config.yaml
coverage-html/
dist/
index.yaml
node_modules/
npm-debug.log
tests/.cache
touch.webpack.*
venv
yelp_beans.egg-info/
