-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: v0.7.0
    hooks:
    -   id: trailing-whitespace
        exclude: assets/vendor/*
        language_version: python2.7
    -   id: end-of-file-fixer
        exclude: assets/vendor/*
        language_version: python2.7
    -   id: autopep8-wrapper
        language_version: python2.7
    -   id: check-json
        files: \.(jshintrc|json)$
        language_version: python2.7
    -   id: check-yaml
        language_version: python2.7
    -   id: debug-statements
        language_version: python2.7
    -   id: name-tests-test
        language_version: python2.7
    -   id: flake8
        language_version: python2.7
    -   id: requirements-txt-fixer
        language_version: python2.7
    -   id: fix-encoding-pragma
        language_version: python2.7
    -   id: check-byte-order-marker
        language_version: python2.7
    -   id: check-merge-conflict
        language_version: python2.7
-   repo: https://github.com/asottile/reorder_python_imports
    sha: v0.3.2
    hooks:
    -   id: reorder-python-imports
        args:
        - --add-import
        - from __future__ import absolute_import
        - --add-import
        - from __future__ import print_function
        - --add-import
        - from __future__ import unicode_literals
        language_version: python2.7
