language: python
matrix:
    include:
        - env: TOXENV=py27
install: pip install tox
before_script:
    - curl https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.50.zip > google_appengine.zip
    - unzip google_appengine.zip >/dev/null
    - export APPENGINE_PATH=./google_appengine
    - export PATH=$PATH:$APPENGINE_PATH
script: tox
cache:
    directories:
        - $HOME/.cache/pip
        - $HOME/.pre-commit
