boto==2.49.0
Click==7.0
decorator==4.4.0
Flask==1.1.1
Flask-API-Utils==1.0.2
httplib2==0.13.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
networkx==2.2
python-http-client==3.2.1
pytz==2019.2
PyYAML==5.1.2
requests==2.1.0
sendgrid==3.6.3
setuptools==41.2.0
urllib3==1.2
Werkzeug==0.16.0
