arrow==1.2.2
boto3==1.24.24
botocore==1.27.24
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.0.4
Flask==2.1.2
Flask-API-Utils==1.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
httplib2==0.20.4
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
networkx==2.6.2
psycopg2-binary==2.9.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2022.1
PyYAML==6.0
requests==2.28.1
s3transfer==0.6.0
sendgrid==6.9.7
setuptools==60.9.3
six==1.16.0
SQLAlchemy==1.4.27
starkbank-ecdsa==2.0.3
urllib3==1.26.10
Werkzeug==2.1.2
zipp==3.6.0
