---
name: Run Tests

"on":
  push:
    branches:
      - master
  pull_request:

jobs:
  api_tests:
    name: Api Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Run tests
        run: make test
  frontend_tests:
    name: Frontend Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node 20
        uses: actions/setup-node@v2
        with:
          node-version: 20.x
      - name: Run tests
        run: make test
  environment_tests:
    name: Devenv Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install devcontainer cli
        run: npm install -g @devcontainers/cli
      - name: Build and start container
        run: devcontainer up --workspace-folder ${{github.workspace}}
      - name: Test developer workflow
        run: devcontainer exec --workspace-folder ${{github.workspace}} .devcontainer/test_dev_env.sh
